
body{
    min-height: 100vh;
    background: mintcream !important;
}

.error{
    color: red; 
    margin: 18px 8px;
}

a{
  color: #000000;
  text-decoration: none;
}
a:hover{
  text-decoration: none !important;

}

.border-con{
    padding: 30px !important;
    border: 1px solid rgba(128, 128, 128, 0.719);
    margin: 30px 0px;
}

#addExp{
    /* float: right; */
    padding: 8px 22px;
    background: #2f57e6;
    color :#fff;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.3s;
    margin-right: 15px;
    border: none;
}

.line{
    width: 3px;
  height: 168px;
  background: #007bff91;
  border-radius: 12px;
  margin: 8px 51px;
}

.time-div{
    width: 345px;
}

.reg-box{
  margin: 50px 164px;
  padding: 45px 40px;
  border-radius: 9px;
  background: aliceblue;
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

#alert,#alert-login{
  display: none;
}

#login-out{
  display: none;
}