<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templete2/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <header class="herder">
        <div class="container">
            <div class="hero-row row">
                <img src="/templete2/assets/HireX_black.png" class="logo" alt="">
                <nav class="row">
                    <ul class="row">
                        <li><a href="">Works</a></li>
                        <li><a href="">About us</a></li>
                        <li><a href="">Blogs</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Contact us</a></li>
                    </ul>
                    <a href="" class="btn">We’re Hiring
                        <img src="/templete2/assets/arrow-right.svg" alt="">
                    </a>
                </nav>
            </div>
        </div>
    </header>

    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="hero-left">
                    <div class="row">
                        <span class="welcome">WELCOME TO HIREX. </span><img src="/templete2/assets/Star 1.png" alt="">
                    </div>

                    <h1>Award Winning Digital Agency.</h1>
                    <p>Digital Agency offering unique solutions to create digital presence and increase your sales.</p>

                    <div class="input-group row">
                        <input type="text" placeholder="Your email address" />
                        <span class="input-text">Request access</span>
                    </div>

                    <div class="btn-msg">
                        <span>Open account and get 5 boxes </span>
                    </div>

                </div>
                <div class="hero-right">
                    <div class="h-box">
                        <h2>UIX Design</h2>
                        <img src="/templete2/assets/image 1 (Traced).png" alt="">
                    </div>
                    <div class="h-box">
                        <img src="/templete2/assets/image 6 (Traced).png" alt="">
                        <h2>Social Media</h2>
                    </div>
                    <div class="h-box">
                        <img src="/templete2/assets/image 2 (Traced).png" alt="">
                        <h2>web Design</h2>
                    </div>
                    <img src="/templete2/assets/Group 6.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="access-section">
        <marquee>
            <div class="row">
                <div class="row access-box">
                    <h2>GET ACCESS NOW!</h2>
                    <img src="/templete2/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                </div>

                <div class="row access-box">
                    <h2>GET ACCESS NOW!</h2>
                    <img src="/templete2/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                </div>

                <div class="row access-box">
                    <h2>GET ACCESS NOW!</h2>
                    <img src="/templete2/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                </div>

                <div class="row access-box">
                    <h2>GET ACCESS NOW!</h2>
                    <img src="/templete2/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                </div>

                <div class="row access-box">
                    <h2>GET ACCESS NOW!</h2>
                    <img src="/templete2/assets/image-fBLQvAFN1-transformed 1.png" alt="">
                </div>
            </div>
        </marquee>
    </section>

    <section class="services-section">
        <div class="container">
            <div class="contant-group">
                <p class="heading-btn">Services</p>
                <h2 class="heading">How Hirex. Work</h2>
                <p class="text-center sub">The awesome people who makes all this possible</p>
            </div>

            <div class="card-container row">

                <div class="col">
                    <div class="card">
                        <span>START HERE</span>
                        <h3 class="text-center">Who we are & what we do</h3>
                        <img src="/templete2/assets/Designer _Flatline 1.png" alt="">
                        <a href="" class="card-btn">START HERE <img src="/templete2/assets/arrow-right-2.png" alt=""></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <span>CUSTOM DESIGN </span>
                        <h3 class="text-center">We’ll design your projects</h3>
                        <img src="/templete2/assets/Notifications_Flatline 1.png" alt="">
                        <a href="" class="card-btn">START HERE <img src="/templete2/assets/arrow-right-2.png" alt=""></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <span>CONTACT US </span>
                        <h3 class="text-center">Drop us your
                            message!</h3>
                        <img src="/templete2/assets/Fortnite_Two Color 1.png" alt="">
                        <a href="" class="card-btn">START HERE <img src="/templete2/assets/arrow-right-2.png" alt=""></a>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <section class="works-section">
        <div class="container">
            <div class="contant-group">
                <p class="heading-btn">Works</p>
                <h2 class="heading">Find our latetest works</h2>
                <p class="text-center sub">The awesome people who makes all this possible</p>
            </div>

            <div class="row">
                <div class="w-card">
                    <img src="/templete2/assets/Rectangle 13.png" alt="">
                    <div class="w-card-contant">
                        <span class="small-h">
                            Web deisgn
                        </span>
                        <h4>Website Design For Digital Agency</h4>
                        <p>Build a unique Website with HireX Template</p>
                        <a href="">Read more <img src="/templete2/assets/arrow-right.svg" alt=""></a>
                    </div>
                </div>

                <div class="w-card">
                    <img src="/templete2/assets/Rectangle 13-1.png" alt="">
                    <div class="w-card-contant">
                        <span class="small-h">
                            3D Design
                        </span>
                        <h4>Realistic 3d Model of Living Room</h4>
                        <p>Build a unique Website with HireX Template</p>
                        <a href="">Read more <img src="/templete2/assets/arrow-right.svg" alt=""></a>
                    </div>

                    <a href="" class="w-card-btn">VIEW ALL <img src="/templete2/assets/arrow-right-2.png" alt=""></a>

                </div>
            </div>
        </div>
    </section>

    <section class="plans-section">
        <div class="container">
            <div class="contant-group">
                <h2 class="heading">Plans & Pricing</h2>
                <p class="text-center sub">The awesome people who makes all this possible</p>
            </div>

            <div class="p-cards-con">
                <div class="p-card">
                    <h3 class="text-center"><b>FREE</b></h3>
                    <h2 class="text-center"><b>$0 <span>/ month</span></b></h2>
                    <p class="text-center">Start free while you learn more about our services</p>
                    <hr>
                    <div class="check-con">
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Free forever get the basic essentials</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Advanced security and performance</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Unlimited unhosted sites</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Live support</span>
                        </div>
                    </div>

                    <a href="" class="pcard-btn">Get started</a>
                </div>
                <div class="p-card">
                    <h3 class="text-center"><b>BASIC</b></h3>
                    <h2 class="text-center"><b>$19 <span>/ month</span></b></h2>
                    <p class="text-center">Get powerful tools to make your business grow</p>
                    <hr>
                    <div class="check-con">
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Free forever get the basic essentials</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Advanced security and performance</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Unlimited unhosted sites</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Live support</span>
                        </div>
                    </div>

                    <a href="" class="pcard-btn">Get started</a>
                </div>
                <div class="p-card">
                    <h3 class="text-center"><b>PRO</b></h3>
                    <h2 class="text-center"><b>$99 <span>/ month</span></b></h2>
                    <p class="text-center">Take your business to the next level with our tools</p>
                    <hr>
                    <div class="check-con">
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Free forever get the basic essentials</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Advanced security and performance</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Unlimited unhosted sites</span>
                        </div>
                        <div class="row">
                            <i class="fa-solid fa-check"></i>
                            <span>Live support</span>
                        </div>
                    </div>

                    <a href="" class="pcard-btn">Get started</a>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonials-section">
        <div class="container">
            <div class="row">
                <div class="left-arrow">
                    <img src="/templete2/assets/arrow-left-2.png" alt="">
                </div>
                <div class="test-contant">

                    <div class="ts-card">
                        <div class="row">
                            <div class="image-contant-ts">
                                <img src="/templete2/assets/testimonials-img.png" alt="">
                                <div class="ts-btn">
                                    <span>@mase.place</span>
                                    <img src="/templete2/assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="text-contant-ts">
                                <h3>"We select to practice in Minerva since it is both useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds"</h3>
                                <span>Abel Carden is a TikTok personality and lip-sync content creator who has <br>
                                    built a
                                    fanbase of more than 3.2 million followers on the platform.
                                </span>
                            </div>

                        </div>
                    </div>
                    
                    <div class="ts-card">
                        <div class="row">
                            <div class="image-contant-ts">
                                <img src="/templete2/assets/testimonials-img.png" alt="">
                                <div class="ts-btn">
                                    <span>@mase.place</span>
                                    <img src="/templete2/assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="text-contant-ts">
                                <h3>"We select to practice in Minerva since it is both useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds"</h3>
                                <span>Abel Carden is a TikTok personality and lip-sync content creator who has <br>
                                    built a
                                    fanbase of more than 3.2 million followers on the platform.
                                </span>
                            </div>

                        </div>
                    </div>

                    <div class="ts-card">
                        <div class="row">
                            <div class="image-contant-ts">
                                <img src="/templete2/assets/testimonials-img.png" alt="">
                                <div class="ts-btn">
                                    <span>@mase.place</span>
                                    <img src="/templete2/assets/arrow_top-right.png" alt="">
                                </div>
                            </div>
                            <div class="text-contant-ts">
                                <h3>"We select to practice in Minerva since it is both useful, and our clients basically
                                    adore it! It has stood the test of time and proceeds"</h3>
                                <span>Abel Carden is a TikTok personality and lip-sync content creator who has <br>
                                    built a
                                    fanbase of more than 3.2 million followers on the platform.
                                </span>
                            </div>

                        </div>
                    </div>

                </div>
                <div class="right-arrow">
                    <img src="/templete2/assets/arrow-right-2.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="blog-section">
        <div class="container">
            <div class="contant-group">
                <p class="heading-btn">Blog</p>
                <h2 class="heading">Stay updated</h2>
            </div>

            <div class="row">
                <div class="w-card">
                    <img src="/templete2/assets/Rectangle 19.png" alt="" class="b-card-img">
                    <div class="w-card-contant">
                        <span class="small-h">
                            Web deisgn
                        </span>
                        <h4>We Launch Minerva Template this Week!</h4>
                        <p>Build a unique Website with HireX Template</p>
                        <a href="">Read more <img src="/templete2/assets/arrow-right.svg" alt=""></a>
                    </div>
                </div>

                <div class="w-card">
                    <img src="/templete2/assets/Rectangle 20.png" alt="" class="b-card-img">
                    <div class="w-card-contant">
                        <span class="small-h">
                            3D Design
                        </span>
                        <h4>Introducing the Non-Code Webflow Guide</h4>
                        <p>Build a unique Website with HireX Template</p>
                        <a href="">Read more <img src="/templete2/assets/arrow-right.svg" alt=""></a>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="news-update">
        <div class="container">
            <div class="row">
                <div>
                    <h2>Get our latests news & updates</h2>
                    <form action="">
                        <input type="text" name="" id="" placeholder="NAME">
                        <input type="text" name="" id="" placeholder="EMAIL">
                        <div>
                            <input type="text" name="" id="" placeholder="SUBSCRIBE">
                        </div>
                    </form>
                </div>
                <div>
                    <p>We select to practice in Minerva since it is both useful and commonsense, and our clients
                        basically adore it</p>
                    <span>Book a Call</span>
                </div>
            </div>
        </div>
    </section>

    <section class="thanks">
        <marquee>
            <div class="row">
                <h2>THANK YOU FOR YOUR VISIT</h2>
                <img src="/templete2/assets/Line 4.png" alt="" class="minus">
                <h2>THANK YOU FOR YOUR VISIT</h2>
                <img src="/templete2/assets/Group 59.png" alt="">
                <h2>THANK YOU FOR YOUR VISIT</h2>
                <img src="/templete2/assets/Line 4.png" alt="" class="minus">
                <h2>THANK YOU FOR YOUR VISIT</h2>
                <img src="/templete2/assets/Group 59.png" alt="">
            </div>
        </marquee>
    </section>

    <footer>
        <div class="container">
            <img src="/templete2/assets/HireX_black.png" alt="">
            <hr>

            <div class="row">
                <ul>
                    <li>Products</li>
                    <li><a href="">Platform</a></li>
                    <li><a href="">Store Overview</a></li>
                    <li><a href="">Email Reports</a></li>
                    <li><a href="">Portfolio</a></li>
                </ul>

                <ul>
                    <li>Resources</li>
                    <li><a href="">Case Studies</a></li>
                    <li><a href="">Product Guides</a></li>
                    <li><a href="">Reports</a></li>
                    <li><a href="">Blog</a></li>
                    <li><a href="">FAQ</a></li>
                </ul>

                <ul>
                    <li>Company</li>
                    <li><a href="">Careers</a></li>
                    <li><a href="">Contact Sales</a></li>
                    <li><a href="">Contact Support</a></li>
                </ul>

                <ul>
                    <li>Partners</li>
                    <li><a href="">Partner With Us</a></li>
                </ul>

            </div>

            <div class="row">
                <p>Terms and Conditions
                    Privacy Policy</p>
                <p>©HIREX, Inc. 2022</p>
            </div>
        </div>
    </footer>

</body>

<script src="/templete2/script.js"></script>

</html>