<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/templete1/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
        integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header class="header">
        <div class="container">
            <img src="/templete1/assets/logo.svg" alt="">
            <nav>
                <ul>
                    <li><a href="">Hosting</a></li>
                    <li><a href="">Integration</a></li>
                    <li><a href="">Pricing</a></li>
                    <li><a href="">Community</a></li>
                </ul>
                <a href="" class="btn">Login</a>
            </nav>
        </div>
    </header>

    <section class="hero-section">
        <div class="container">
            <div class="row hero-row">
                <div class="hero-contant">
                    <h1>Hosting Services for your Website</h1>
                    <p>
                        Easily and reliably host a website for your business, organization, or project while retaining
                        complete control over your site’s underlying infrastructure.
                    </p>

                    <div class="row">
                        <a href="" class="btn">Get Started</a>
                        <a href="" class="btn">Get Migration Help</a>
                    </div>

                </div>
                <img src="/templete1/assets/portrait-confident-bearded-man-using-laptop-computer 1.png" alt="" class="hero-img">
            </div>
            <i class="fa-solid fa-arrow-down"></i>
        </div>
    </section>

    <section class="compnay-section">
        <div class="container">
            <div class="row">
                <p>Those Who Have Experienced The Best Performance</p>
                <div class="row row-img">
                    <img src="/templete1/assets/Telkom Indonesia Logo.png" alt="">
                    <img src="/templete1/assets/Jetstar Airways Logo.png" alt="">
                    <img src="/templete1/assets/Nescafe Logo.png" alt="">
                    <img src="/templete1/assets/Lenovo Logo.png" alt="">
                </div>
            </div>
        </div>
    </section>

    <section class="boost-section">
        <div class="container">
            <div class="row">
                <img src="/templete1/assets/Group 3552.png" alt="">
                <div class="boost-contant">
                    <h2 class="heading">Boost the Speed of <br>Your Website</h2>
                    <div class="grid-bs">
                        <div>
                            <h3>Faster Build Process</h3>
                            <p class="para">We can speed up the process of creating your website</p>
                        </div>

                        <div>
                            <h3>Faster Delivery</h3>
                            <p class="para">Our purchases and services can be completed quickly</p>
                        </div>

                        <div>
                            <h3>Faster Access Speed</h3>
                            <p class="para">Superb network infrastructure and hardware to support fast and stable access
                            </p>
                        </div>

                        <div>
                            <h3>24/7 Faster Service</h3>
                            <p class="para">We have a response time of less than 180 seconds, available 24 hours a day
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="services-section">
        <div class="container">
            <h2 class="heading text-center">Host Any Website With Our <br>Fully Managed Services</h2>

            <div class="services-cards">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="box">
                                <div class="row box-row">
                                    <img src="/templete1/assets/cloud-sunny.png" alt="">
                                    <h4>Cloud Hosting</h4>
                                </div>
                                <p>Cloud Hosting is a good fit for those of you who are building personal websites,
                                    portfolios, blogs, and other systems</p>
                            </div>

                            <h2 class="text-center"><span>$5.9</span>/month</h2>
                            <a href="" class="btn-more">More Detail</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="box">
                                <div class="row box-row">
                                    <img src="/templete1/assets/cloud-sunny.png" alt="">
                                    <h4>Cloud Hosting</h4>
                                </div>
                                <p>Cloud Hosting is a good fit for those of you who are building personal websites,
                                    portfolios, blogs, and other systems</p>
                            </div>

                            <h2 class="text-center"><span>$5.9</span>/month</h2>
                            <a href="" class="btn-more">More Detail</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="box">
                                <div class="row box-row">
                                    <img src="/templete1/assets/cloud-sunny.png" alt="">
                                    <h4>Cloud Hosting</h4>
                                </div>
                                <p>Cloud Hosting is a good fit for those of you who are building personal websites,
                                    portfolios, blogs, and other systems</p>
                            </div>

                            <h2 class="text-center"><span>$5.9</span>/month</h2>
                            <a href="" class="btn-more">More Detail</a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card">
                            <div class="box">
                                <div class="row box-row">
                                    <img src="/templete1/assets/cloud-sunny.png" alt="">
                                    <h4>Cloud Hosting</h4>
                                </div>
                                <p>Cloud Hosting is a good fit for those of you who are building personal websites,
                                    portfolios, blogs, and other systems</p>
                            </div>

                            <h2 class="text-center"><span>$5.9</span>/month</h2>
                            <a href="" class="btn-more">More Detail</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="technology-section">
        <div class="container">
            <div class="row">
                <div class="tech-left">
                    <div class="row tab-btn btn-active" id="tab-1" onclick="changetab('1')">
                        <img src="/templete1/assets/WordPress.com Logo.png" alt="">
                        <h2>Wordpress</h2>
                    </div>
                    <div class="row tab-btn" id="tab-2" onclick="changetab('2')">
                        <img src="/templete1/assets/Magento Commerce Logo.svg" alt="">
                        <h2>Magento</h2>
                    </div>
                    <div class="row tab-btn" id="tab-3" onclick="changetab('3')">
                        <img src="/templete1/assets/Laravel Logo.svg" alt="">
                        <h2>Laravel</h2>
                    </div>
                    <div class="row tab-btn" id="tab-4" onclick="changetab('4')">
                        <img src="/templete1/assets/PHP Logo.svg" alt="">
                        <h2>PHP</h2>
                    </div>
                </div>
                <div class="tech-right">
                    <div class="tab tab-1 tab-active">
                        <h2>The Best Managed Cloud Hosting for WordPress </h2>
                        <p class="para">We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.</p>
                        <div class="check-r">
                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Unlimited Bandwidth</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Network Speed</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Turbo Power</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>

                        <a href="" class="btn-tech">More Detail</a>
                    </div>

                    <div class="tab tab-2">
                        <h2>The Best Managed Cloud Hosting for Magento</h2>
                        <p class="para">We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.</p>
                        <div class="check-r">
                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Unlimited Bandwidth</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Network Speed</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Turbo Power</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>

                        <a href="" class="btn-tech">More Detail</a>
                    </div>

                    <div class="tab tab-3">
                        <h2>The Best Managed Cloud Hosting for Laravel</h2>
                        <p class="para">We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.</p>
                        <div class="check-r">
                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Unlimited Bandwidth</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Network Speed</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Turbo Power</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>

                        <a href="" class="btn-tech">More Detail</a>
                    </div>

                    <div class="tab tab-4">
                        <h2>The Best Managed Cloud Hosting for PHP</h2>
                        <p class="para">We live and breathe WordPress. Our managed hosting for WordPress and WooCommerce
                            takes away cloud server related hassles so you can scale your website the way you want.</p>
                        <div class="check-r">
                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Unlimited Bandwidth</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Network Speed</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Turbo Power</span>
                            </div>

                            <div class="row">
                                <img src="/templete1/assets/Vector.png" alt="">
                                <span>Xtreme Freedom</span>
                            </div>
                        </div>

                        <a href="" class="btn-tech">More Detail</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="testimonial">
        <div class="container">
            <div class="row">
                <h2 class="heading">How Our Customers Feel About Us</h2>
                <div>
                    <img src="/templete1/assets/arrow-left.png" alt="" class="arrow-left">
                    <img src="/templete1/assets/arrow-right.png" alt="" class="arrow-right">
                </div>
            </div>

            <div class="customer-cards row">
                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>

                <div class="c-card">
                    <div class="c-box">
                        <img src="/templete1/assets/profile.png" alt="" class="c-image">
                        <div class="star row">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                            <img src="/templete1/assets/Star 2.png" alt="">
                        </div>
                        <p class="text-center">Thanks to the Awan Hoster, I was guided step-by-step until it was
                            finished</p>

                        <h4>GUY HAWKINS</h4>
                        <span>Manager</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="section-seven">
        <div class="container">
            <div class="row">
                <div class="seven-contant">
                    <h2 class="heading">Try It Now and Stop Doubting Anything Else</h2>
                    <p>With Awan Hoster’s Money Back Guarantee, you can try the best service reliability</p>
                    <a href="" class="seven-btn">Start Free Trial</a>
                    <a href="" class="seven-btn">See All Plans</a>
                </div>
                <img src="/templete1/assets/Group 1000008788.png" alt="">
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <div class="main-div row">
                <div>
                    <img src="/templete1/assets/logo-white.png" alt="" class="footer-logo">
                    <p>We provide you with the best hosting solutions for your website.</p>
                    <div class="row">
                        <i class="fa-brands fa-facebook-f"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-youtube"></i>
                        <i class="fa-brands fa-discord"></i>
                    </div>
                </div>

                <div class="row">
                    <ul>
                        <li>Company</li>
                        <li><a href="">About</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">Leadership</a></li>
                        <li><a href="">Careers</a></li>
                        <li><a href="">Legal</a></li>

                    </ul>
                    <ul>
                        <li>Products</li>
                        <li><a href="">API</a></li>
                        <li><a href="">Pricing</a></li>
                        <li><a href="">Documentation</a></li>
                        <li><a href="">Release Notes</a></li>
                    </ul>
                    <ul>
                        <li>Contact</li>
                        <li><a href="">Support</a></li>
                        <li><a href="">Sales</a></li>
                        <li><a href="">Report Abuse</a></li>
                        <li><a href="">System Status</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
</body>

<script src="/templete1/script.js"></script>

</html>