
body{
    min-height: 100vh;
    background: mintcream !important;
}

.error{
    color: red; 
    margin: 18px 8px;
}

a{
  color: #000000;
  text-decoration: none;
}

.border-con{
    padding: 30px !important;
    border: 1px solid rgba(128, 128, 128, 0.719);
    margin: 30px 0px;
}

#addExp{
    /* float: right; */
    padding: 8px 22px;
    background: #2f57e6;
    color :#fff;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 4px;
    transition: 0.3s;
    margin-right: 15px;
    border: none;
}
