<!doctype html>
<html lang="en">
  <head>
    <%- include('../componants/head.ejs'); %>
  </head>
  <body>

    <%- include('../componants/header.ejs'); %>

    <div class="container">
      home
    </div>

    <%- include('../componants/script.ejs'); %>
   
  </body>
</html>
