<!doctype html>
<html lang="en">
  <head>
    <%- include('../componants/head.ejs'); %>
  </head>
  <body>

    <%- include('../componants/header.ejs'); %>

    <div class="container mt-4">
      <table class="table table-bordered mt-5">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Link</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Dynamic Table</td>
            <td><a href="/DynamicTable/table" target="_blank">/DynamicTable/table</a></td>
          </tr>

          <tr>
            <th scope="row">2</th>
            <td> JS EVENT</td>
            <td><a href="/task/jsevent" target="_blank">/task/jsevent</a></td>
          </tr>

          <tr>
            <th scope="row">3</th>
            <td>KuKu Cube</td>
            <td><a href="/KukuCube/kukucube" target="_blank">/KukuCube/kukucube</a></td>
          </tr>
          <tr>
            <th scope="row">4</th>
            <td>TicTacToe</td>
            <td><a href="/TicTacToe/tictactoe" target="_blank">/TicTacToe/tictactoe</a></td>
          </tr>

          <tr>
            <th scope="row">5</th>
            <td>templete1</td>
            <td><a href="/templete/templete1" target="_blank">/templete/templete1</a></td>
          </tr>

          <tr>
            <th scope="row">6</th>
            <td>templete2</td>
            <td><a href="/templete/templete2" target="_blank">/templete/templete2</a></td>
          </tr>
          
          <tr>
            <th scope="row">7</th>
            <td>templete3</td>
            <td><a href="/templete/templete3" target="_blank">/templete/templete3</a></td>
          </tr>

          <tr>
            <th scope="row">8</th>
            <td>Dynamic Grid</td>
            <td><a href="/task/grid" target="_blank">/task/grid</a></td>
          </tr>

          <tr>
            <th scope="row">9</th>
            <td>Delimiter Search</td>
            <td><a href="/task/delimiter/filtergrid" target="_blank">/task/delimiter/filtergrid</a></td>
          </tr>

          <tr>
            <th scope="row">10</th>
            <td>Json Placeholder</td>
            <td><a href="/jsonplaceholder/task/posts" target="_blank">/jsonplaceholder/task/posts</a></td>
          </tr>

          <tr>
            <th scope="row">11</th>
            <td>Time Zone</td>
            <td><a href="/task/timezone" target="_blank">/task/timezone</a></td>
          </tr>

          <tr>
            <th scope="row">12</th>
            <td>Application Crud</td>
            <td><a href="/task/form" target="_blank">form</a>  <br><a href="/task/edit?id=14" target="_blank">Edit</a></td>
          </tr>

          <tr>
            <th scope="row">13</th>
            <td>Application Crud With AJAX</td>
            <td><a href="/stepform" target="_blank">form</a>  <br><a href="/students" target="_blank">All students list with Edit</a></td>
          </tr>
          
        </tbody>
      </table>
    </div>

    <%- include('../componants/script.ejs'); %>
   
  </body>
</html>
