<!doctype html>
<html lang="en">
  <head>
    <%- include('./componants/head.ejs'); %>
  </head>
  <body>

    <%- include('./componants/header.ejs'); %>

    <h1>Data Not Found!</h1>


    <%- include('./componants/script.ejs'); %>
   
  </body>
</html>
